body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .joke-container {
    background-color: #fff;
    border-radius: 5px;
    padding: 30px; /* Increase padding for larger container */
    margin-bottom: 20px;
  }
  
  #jokeText {
    font-size: 20px; /* Increase font size */
  }
  
  button {
    padding: 15px 30px; /* Increase button padding */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    height: auto;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  